on init
    export LD_LIBRARY_PATH .:/sbin

    mkdir /system
    mkdir /system/vendor
    mkdir /system/vendor/lib64
    mkdir /system/vendor/lib64/hw

on late-init
    symlink /sbin/libQSEEComAPI.so    /system/vendor/lib64/libQSEEComAPI.so
    symlink /sbin/keystore.msm8998.so /system/vendor/lib64/hw/keystore.msm8998.so
    symlink /sbin/gatekeeper.msm8998.so /system/vendor/lib64/hw/gatekeeper.msm8998.so

on restore-data
   restorecon_recursive /data

on property:debug.symlink.vendor=1
    start qseecomd

on property:debug.symlink.vendor=0
    stop qseecomd

on property:debug.restore.data=1
    trigger restore-data

on property:oem.boot_data.clear=1
    write /sys/module/param_read_write/parameters/data_stage 0

on property:oem.cpu.online=1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance

on property:oem.cpu.online=0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1228800

on property:installkey.data=1
    copy /data/system/entropy.dat /dev/urandom

# ONEPLUS_RECOVERY begin
service hwservicemanager /system/bin/hwservicemanager
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    disabled
    seclabel u:r:recovery:s0

service qseecomd /sbin/qseecomd
    disabled
    seclabel u:r:recovery:s0

service gatekeeperd /sbin/gatekeeperd /data/misc/gatekeeper
    disabled
    seclabel u:r:recovery:s0

# Preparing service for decrypting data
on property:debug.symlink.vendor=1
    start hwservicemanager
    start keymaster-3-0
    start gatekeeper-1-0
    start qseecomd
# ONEPLUS_RECOVERY end
